@import "tailwindcss";

/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

:root {
  --font-heading: 'Sora', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
}



.header-brand h1 {
  font-family: 'Helmet', sans-serif;
  font-weight: 400;
}


.dot {
  animation: floatDot 15s linear infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes floatDot {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
